<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="ConsoleAppender"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <!-- LOG at INFO level when no spring profile is provided -->
    <root level="INFO">
        <appender-ref ref="ConsoleAppender" />
    </root>

    <springProfile name="dev">
        <root level="TRACE">
            <appender-ref ref="ConsoleAppender"/>
        </root>
        <!-- LOG triggered SQL statements -->
        <logger name="org.hibernate.SQL" level="debug" additivity="false">
            <appender-ref ref="ConsoleAppender"/>
        </logger>

        <!-- LOG Binding and Extracted Parameters -->
        <logger name="org.hibernate.type.descriptor.sql" level="trace" additivity="false">
            <appender-ref ref="ConsoleAppender" />
        </logger>
    </springProfile>
    <springProfile name="test">
        <root level="DEBUG">
            <appender-ref ref="ConsoleAppender"/>
        </root>
        <logger name="org.hibernate" level="INFO" additivity="false">
            <appender-ref ref="ConsoleAppender"/>
        </logger>
        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="ConsoleAppender"/>
        </logger>
    </springProfile>
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="ConsoleAppender"/>
        </root>
        <logger name="org.hibernate" level="WARN" additivity="false">
            <appender-ref ref="ConsoleAppender"/>
        </logger>
        <logger name="org.springframework" level="WARN" additivity="false">
            <appender-ref ref="ConsoleAppender"/>
        </logger>
    </springProfile>

</configuration>
